body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #1f2937;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.top .links {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 150px 375px;
}

.hero .main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;

}

.hero .secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  align-self: flex-start;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 8px;
}

.hero-left {
  flex-wrap: wrap;
}

.image {
  background-color: grey;
  color: #e5e7eb;
  padding: 100px 150px;
}

.random-top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  padding: 50px 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.random-image {
  border-style: solid;
  border-color: #3882f6;
  
}

.inspiring-quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.originator {
  align-self: flex-end;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  
}

.cta-right {
  justify-content: flex-end;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  background-color: #1f2937;
  color: #e5e7eb;
}